<ion-split-pane contentId='map-content'>
  <ion-menu contentId='map-content'>
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Saved Addresses
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      List of addresses will go here
    </ion-content>
  </ion-menu>

  <section class="ion-page" id='map-content'>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot='start'>
          <ion-menu-toggle>
            <ion-button>
              <ion-icon slot='icon-only' name='menu'></ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </ion-buttons>
        <ion-title>Select Location</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <agm-map [latitude]="+selectedAddress.latitude"
              [longitude]="+selectedAddress.longitude"
              [zoom]="18"
              [clickableIcons]="true"
              [showDefaultInfowindow]="false"
              [usePanning]="true">
      </agm-map>  
    </ion-content>
  </section>

</ion-split-pane>